body {
  background-image: url("images/jumboimage.jpg");
	background-attachment: fixed;
  background-size: 100%;
	background-repeat: no-repeat;
}

header {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.header {
  display:flex;
  justify-content: space-around;
  background-color: rgba(48, 88, 197, 0.25);
}


#navbar li {
	display: inline-block;
  margin-left: 2em;
  font-family: "Raleway", monospace, sans-serif, serif;
  font-size: 1.2em;
  color: #FFFFFF;
}

#navbar li:first-child {
  font-weight: bold;
  font-size: 3em;
  margin-right: 3em;
/*  margin-left: -6em;  */
  font-family: "Fredoka One", monospace, sans-serif, serif;
}



div {
  border:2px solid #000000;
}

figure {
  display: inline-block;
  width:250px;
  border: 2px solid #000000;
}
img {
  width:inherit;
}
figcaption {
  text-align:center;
}

footer {
  display: flex;
  justify-content: center;
  font-family: "Raleway", cursive, sans-serif, serif;
  margin-top: 3em;
  background-color: rgba(161, 161, 161, 0.9);
  position: absolute;
    bottom: -69em;
    width: 100%;
    height: 13em;
    margin: 0 auto;
}

.button {
  /* display: flex;
  justify-content: center; */
	text-align: center;
	padding: 0.3em;
  font-size: 0.4em;
  margin: 0.5em;
  border-radius: 5px;
  background-color: rgba(255, 112, 10, 0.6);
  border-color: rgba(168, 45, 0, 0.6);
  color: #fff;
}
