body {
  background-image: url("images/jumboimage.jpg");
	background-attachment: fixed;
  background-size: 100%;
	background-repeat: no-repeat;
}

header h1 {
	width: 30%;
  /*justify-content: space-around;*/
	color:white;
  background-color: rgba(48, 88, 197, 0.25);
  font-weight: bold;
  font-size: 3em;
  margin-right: 3em;
/*  margin-left: -6em;  */
  font-family: "Fredoka One", monospace, sans-serif, serif;
}

/* Top item list  - here are should be buttons */
nav {
display: block;
	flex-wrap:wrap;
width: 10%;
}
nav li {
	display: block;
  margin-left: 2em;
  margin-bottom: 1em;
  font-family: "Raleway", monospace, sans-serif, serif;
  font-size: 1.6em;
  color: #FFFFFF;
}


div {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  /*padding:  2% auto;*/
  /*border:2px solid #000000;*/


}

figure {
  display: inline-block;
  width:250px;
}
figure:hover {
  cursor:pointer;
  transform: scale(1.03);
}
img {
  width:inherit;
  border-radius:50%;
  border: 2px solid #EEEEEE;
}

figcaption {
  font-size: 1.5em;
  text-align:center;
  color: white;
  font-family: "Raleway", monospace, sans-serif;
  background-color: rgba(48, 88, 197, 0.61);
  border-radius:5px;
}

footer {
  justify-content: center;
  font-family: "Raleway", cursive, sans-serif, serif;
  margin-top: 3em;
  background-color: rgba(161, 161, 161, 0.61);
  text-align: center;
  bottom: -69em;
  width: 50%;
  height: 1.3em;
  margin: 0 auto;
  font-weight: bold;
}
