




#avatar_image {
  border-radius: 5px;
  cursor: pointer;
}

span .close {
  background-color: white;
  cursor: pointer;
}
#modal_box {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

#modal_box img {
  margin: 20% auto 2% auto;
  display: block;
  width: 80%;
  border-radius: 5px;
}
#modal_content {
  color: white;
  margin: 0 auto;
  text-align: center;
}
